name: test
on:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@master
      - uses: denolib/setup-deno@master
        with:
          deno-version: v1.6.0
      - run: deno test -A
